    html {
        scroll-behavior: smooth;
        overflow: hidden;
    }

    body {
        background-color: #f8f9fa;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .navbar {
        background: linear-gradient(45deg, rgb(66, 107, 169), #98b9f2);
        padding: 15px 0;
        border-bottom: 2px solid #7fd8ecfb;
        margin-bottom: 0px;
    }

    .navbar .navbar-nav {
        margin-right: -60px;
    }

    .navbar .navbar-brand {
        font-weight: bold;
        font-size: 1.8rem;
        color: white !important;
        margin-right: 100px;
    }

    .navbar .nav-link {
        margin-right: 15px;
        color: white !important;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .navbar .nav-link:hover {
        color: #ffffff;
        transform: scale(1.1);
    }

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar .dropdown-menu {
        background-color: rgb(66, 107, 169);
    }

    .navbar .dropdown-item {
        color: #ffffff;
    }

    .navbar .dropdown-item:hover {
        background-color: #98b9f2;
        color: #ffffff;
    }

    .navbar .container {
        margin-left: 30px;
    }

    .navbar .btn-primary {
        background-color: rgb(66, 107, 169);
        border-color: rgb(66, 107, 169);
    }

    .navbar.btn-primary:hover {
        background-color: #7ca6ed;
        border-color: rgb(89, 135, 204);
    }

    .background-container {
        background: url('https://yavabali.com/cfind/source/thumb/images/cover_w996_h486_shutterstock_554489575w-1.jpg') no-repeat center center/cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
    }

    #signup-card {
        margin-top: -75px;
        width: 350px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.9);
        z-index: 100;
        position: relative;
    }

    .btn-primary {
        background-color: rgb(66, 107, 169);
        border-color: rgb(66, 107, 169);
    }

    .btn-primary:hover {
        background-color: #7ca6ed;
        border-color: rgb(89, 135, 204);
    }